label {
  margin-top: 2%;
}

input[type="date"] {
  margin-top: -2%;
}

.create-hack {
  margin-left: 80%;
}

.create-hack-container{
  background: url("../images/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vw;
}
