.hackathon-home {
  background: url("../images/hackathon_backdrop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250vh;
  color: white;
}

.hackathon-details {
  margin-left: 10%;
  margin-top: 3%;
  width: 40%;
}

.button-hacks {
  margin-left: 10%;
  margin-top: 3%;
  width: 40%;
}

.hackathon-team a {
  margin-top: -20%;
  color: white;
}

.hackathon-team a:hover {
  color: white;
  text-decoration: none;
}

.hackathon-team {
  width: 30%;
  margin-left: 60%;
  margin-top: -90%;
}

.hackathon-judge {
  width: 30%;
  margin-left: 60%;
  margin-top: 3%;
}

.hackathon-judge a {
  color: white;
}

.hackathon-judge a:hover {
  color: white;
  text-decoration: none;
}

.hackathon-sponsor {
  width: 30%;
  margin-left: 60%;
  margin-top: 3%;
}

input[type="date"] {
  margin-top: 0%;
}

.create-team {
  margin-left: 170%;
  margin-top: 4%;
}

.hacker-hackathon-team a {
  color: white;
}

.hacker-hackathon-team a:hover {
  color: white;
  text-decoration: none;
}

.hacker-hackathon-team {
  width: 30%;
  margin-left: 60%;
  margin-top: -13%;
}

.button-hacks-admin {
  margin-left: 10%;
  margin-top: 10%;
  width: 40%;
}

.hackathon-revenue {
  width: 35%;
  margin-left: 60%;
  margin-top: 3%;
}

.hackathon-team-name{
  width: max-content;
  PADDING: 10px;
  background-color: white;
  color: black;
  margin-bottom: 7px;
}